@attribute [Authorize(Roles = "Sales Admin,Sales User,IT Admin,Admin, NPD")]

@page "/productionCost"
@inject MasterDataServices MDS
@inject DialogService DialogService

<RadzenCard>
    <h3>Production Cost</h3>
    <hr />
    <div class="d-flex justify-content-between mb-4">
        <RadzenButton Text="Create New Production Cost"
                      Icon="add_circle_outline"
                      ButtonStyle="ButtonStyle.Primary"
                      Click="@CreateButtonOnClick" />
    </div>

    <RadzenDataGrid Data="@productionCosts"
                    TItem="ProductionCost"
                    AllowFiltering="true"
                    AllowSorting="true"
                    AllowPaging="true"
                    AllowColumnResize="true"
                    PageSize="10"
                    FilterMode="FilterMode.CheckBoxList"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    EmptyText="No production costs found">
        <Columns>
            <RadzenDataGridColumn Property="ProductType" Title="Product Type" Width="150px" />
            <RadzenDataGridColumn Property="ProductTypeCost" Title="Product Type Cost" FormatString="{0:C2}" Width="150px" />
            <RadzenDataGridColumn Property="Active" Title="Active" Width="80px">
                <Template Context="data">
                    <RadzenCheckBox Value="@data.Active" Disabled="true" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="ProductionCost" Title="Actions" TextAlign="TextAlign.Center" Width="120px">
                <Template Context="productionCost">
                    <RadzenButton Icon="edit"
                                  ButtonStyle="ButtonStyle.Info"
                                  Size="ButtonSize.Medium"
                                  Variant="Variant.Flat"
                                  Class="m-1"
                                  Click="@(() => EditProductionCost(productionCost))"
                                  ToolTip="Edit Production Cost" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</RadzenCard>

<style>
    .production-cost-data-grid {
        height: calc(100vh - 250px);
        min-height: 400px;
    }
</style>

@code {
    private List<ProductionCost> productionCosts = new List<ProductionCost>();

    protected override async Task OnInitializedAsync()
    {
        productionCosts = await MDS.GetProductionCostsAsync();
    }

    private async Task CreateButtonOnClick()
    {
        var options = new DialogOptions() 
        { 
            Width = "90vw",
            Height = "90vh",
            CloseDialogOnOverlayClick = false,
            Resizable = true,
            Draggable = true
        };
        
        var result = await DialogService.OpenAsync<AddProductionCostDialog>("New Production Cost", 
            options: options);
            
        if (result == true)
        {
            productionCosts = await MDS.GetProductionCostsAsync();
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task EditProductionCost(ProductionCost productionCost)
    {
        var options = new DialogOptions() 
        { 
            Width = "90vw",
            Height = "90vh",
            CloseDialogOnOverlayClick = false,
            Resizable = true,
            Draggable = true
        };
        
        var result = await DialogService.OpenAsync<EditProductionCostDialog>("Edit Production Cost", 
            new Dictionary<string, object>() { { "ProductionCostId", productionCost.Id } },
            options);
            
        if (result == true)
        {
            productionCosts = await MDS.GetProductionCostsAsync();
            await InvokeAsync(StateHasChanged);
        }
    }
} 