@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You are not authorized to view this page, please contact admin for authorization.</p>
    <a class="btn btn-primary mt-3" href="/">Return to Home</a>
</header>
